body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    background: #f1f4fd;
}

.page {
    width: 100%;
    min-height: 100vh;
    background: #f1f4fd;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    place-items: center;
    max-width: 420px;
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.card {
    width: 100%;
    max-width: 420px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border: solid 0.5px #dbdbdb;
    box-sizing: border-box;
}

.card-head {
    display: flex;
    justify-content: space-between;
    color: #6b7280;
    font-weight: 400;
    font-size: 0.8rem;
}

.title {
    display: flex;
    color: #1d224e;
    font-size: 1.2rem;

}


.week {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 14px;
    padding: 8px 4px;
    color: #6b7280;
}

.day {
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.dow {
    font-size: 12px;
}

.dnum {
    font-size: 13px;
}

.day.active {
    background: #4561db;
    color: white;
}


#todo-area {
    margin-top: 1rem;
    min-height: 50vh;
}

#message {
    color: #6b7280;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: .5rem 0;
    box-sizing: border-box;
}

#task-text {
    flex: 1;
    padding: .5rem .6rem;
    min-width: 0;

}

#task-time,
button {
    padding: .5rem .6rem;

}

#task-list {
    list-style: none;
    margin: .5rem 0 0;
    padding: 0;
    display: grid;
    gap: .5rem;
}

#task-list li {
    background: #f1f4fd;
    font-size: 18px;
    color: #1d224e;
    padding: 0.8rem 0.8rem;
    border-radius: .5rem;
    margin-top: 0.5rem;

}


#add-btn {
    border-radius: .5rem;
    border-style: none;
    background: #4561db;
    font-size: 15px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.8rem;
    width: 100%;
    cursor: pointer;
    font-size: 0.8rem;

}

.item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
    color: #1d224e;
    gap: 0.75rem;
}

.item .text {
    flex: 1;
    min-width: 0;
    word-break: break-word;
    line-height: 1.4;
    font-size: 0.8rem;
}

.item .time {
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 0.8rem;
    color: #4b5563;
    text-align: right;
    min-width: 60px;
}


#task-text {
    border: 0.1rem solid #6b7280;
    border-radius: 5px;

}


#task-time {
    border: 0.1rem solid #6b7280;
    border-radius: 5px;
}

#sub-btn {
    border-radius: .5rem;
    border-style: none;
    background: #4561db;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.8rem;
    cursor: pointer;

}



.edit-btn {
    background-image: url('./assets/edit-tool.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
}

.inputBox {
    height: 2rem;

}


.updateTask-btn {
    padding: 2px 4px;
    width: 3rem;
    height: 1.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #a9a9a9;
    color: white;
    font-size: 0.7rem;
}

.updateTask-btn:hover{
    background-color: #1cc3ad;
}



.check-box {
    display: grid;
    width: 2rem;
    height: 2rem;
    border: 2px solid #e5e7eb;
    background-color: white;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
    transition: background .2s border-color .2s;
    flex-shrink: 0;
}

.item.done .check-box {
    background-color: #47da99;
    border-color: #18c45d;
    animation: pop 0.5s;
    animation-direction: alternate;
}

.item.done .check-box::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 1rem;
    border-right: 0.2rem solid white;
    border-bottom: 0.2rem solid white;
    transform: rotate(45deg);
}


@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}


.item.done .text {
    text-decoration: line-through;
    opacity: .6;
}

.item.done .time {
    text-decoration: line-through;
    opacity: .6;
}